@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

* {
	margin: 0;
	padding: 0;
}

header, footer, section, aside, nav, article {
	display: block;
}

body {
	margin: 0 auto;
	padding: 22px 0;
	width: 940px;
	font: 13px/22px 'Monoton', cursive;
	background: #F0F0F0;
	color: #222;
}

h1, h2 {
	font-size: 28px;
	line-height: 44px;
	padding: 22px 0;
	font-family: 'Monoton', cursive;
	text-transform: uppercase;
	color: #b30059; /* color llamativo para resaltar la fuente */
	letter-spacing: 2px;
	text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
}

h3 {
	font-size: 18px;
	line-height: 22px;
	padding: 11px 0;
	font-family: 'Monoton', cursive;
	color: #333;
	letter-spacing: 1px;
}

p {
	padding-bottom: 22px;
}


nav {
	position: absolute;
	left: 0;
	width: 100%;
	background: url("images/nav_background.png");
}

	nav ul {
		margin: 0 auto;
		width: 940px;
		list-style: none;
	}

		nav ul li {
			float: left;
		}
		
			nav ul li a {
				display: block;
				margin-right: 20px;
				width: 140px;
				font-size: 14px;
				line-height: 44px;
				text-align: center;
				text-decoration: none;
				color: #777;
			}
			
				nav ul li a:hover {
					color: #fff;
				}
			
			nav ul li.selected a {
				color: #fff;
			}
			
			nav ul li.subscribe a {
				margin-left: 22px;
				padding-left: 33px;
				text-align: left;
				background: url("images/rss.png") left center no-repeat;
			}




#intro {
	position: relative;
	margin-top: 66px;
	padding: 44px;
	background: #467612 url("images/intro_background.png") repeat-x;
	
	-webkit-background-size: 100%;
	-o-background-size: 100%;
	-khtml-background-size: 100%;

	
	-moz-border-radius: 22px;
	-webkit-border-radius: 22px;
}

	#intro h2, #intro p {
		position: relative;
		z-index: 9999;
		width: 336px;
	}
	
	#intro h2 {
		padding: 0 0 22px 0;
		font-weight: normal;
		color: #fff;
	}
	
	#intro p {
		padding: 0;
		color: #d9f499;
	}
	
	#intro img {
		position: absolute;
		top: 0;
		right: 0;
		width: 653px;
		height: 100%;
	
		-moz-border-radius: 22px;
		-webkit-border-radius: 22px;
	}





#content {
	display: table;
}

	#mainContent {
		display: table-cell;
		width: 620px;
		padding-right: 22px;
	}
	
	aside {
		display: table-cell;
		width: 300px;
		background: url("images/sidebar_background.png") top left;
	}



.blogPost header p, .blogPost header p a {
		font-size: 14px;
		font-style: italic;
		color: #777;
	}
	
		.blogPost header p a:hover {
			text-decoration: none;
			color: #000;
		}

.blogPost div {
	-moz-column-count: 2;
	-webkit-column-count: 2;
	
	-moz-column-gap: 22px;
	-webkit-column-gap: 22px;
}
	
.blogPost img {
	margin: 22px 0;
	-webkit-box-shadow: 3px 3px 7px #777;
}





#comments {
	margin-top: 21px;
	padding-top: 22px;
	border-top: 1px solid #d7d7d7;
}

	#comments article {
		display: table;
		padding: 22px;
	}
	
	#comments article:nth-child(odd) {
		padding: 21px;
		background: #E3E3E3;
		border: 1px solid #d7d7d7;
		-moz-border-radius: 11px;
		-webkit-border-radius: 11px;
	}
	
		#comments article header {
			display: table-cell;
			width: 220px;
			padding-right: 22px;
		}
		
			#comments article header a {
				display: block;
				font-weight: bold;
				color: #000;
			}
			
				#comments article header a:hover {
					text-decoration: none;
				}
		
		#comments article p {
			padding: 0;
		}




form {
	margin-top: 21px;
	padding-top: 22px;
	border-top: 1px solid #d7d7d7;
}

	form p {
		display: table;
		margin-bottom: 22px;
		padding: 0 22px;
	}

		form label {
			display: table-cell;
			width: 140px;
			padding-right: 20px;
			text-align: right;
			font-weight: bold;
			vertical-align: top;
		}
	
		form input[type="text"], form input[type="email"], form input[type="url"] {
			display: table-cell;
			width: 300px;
			height: 20px;
			border: 1px solid #d7d7d7;
		}
		
		form textarea {
			width: 300px;
			height: 100px;
			border: 1px solid #d7d7d7;
		}
		
		form input[type="submit"] {
			margin-left: 162px;
		}




aside section {
	margin: 22px 0 0 22px;
	padding: 11px 22px;
	background: url("images/sidebar_section_background.png") repeat-x;
	
	-moz-border-radius: 11px;
	-webkit-border-radius: 11px;
}

	aside section ul {
		margin: 0 0 0 22px;
		list-style: none;
	}
	
		aside section ul li a {
			display: block;
			text-decoration: none;
			color: #000;
		}
		
			aside section ul li a:hover {
				text-decoration: underline;
			}




footer {
	position: absolute;
	left: 0;
	width: 100%;
	background: #222;
}

	footer div {
		display: table;
		margin: 0 auto;
		padding: 44px 0;
		width: 940px;
		color: #777;
	}
	
		footer div section {
			display: table-cell;
			width: 300px;
		}
		
		footer div #about, footer div #blogroll {
			padding-right: 20px;
		}
		
	footer h3 {
		color: #FFF;
	}
	
	footer a {
		color: #999;
	}
	
		footer a:hover {
			color: #FFF;
			text-decoration: none;
		}
	
	footer ul {
		margin: 0 0 0 40px;
		list-style: square;
		color: #565656;
	}
	
		footer ul li a {
			display: block;
		}
.contact-form {
			max-width: 600px;
			margin: 30px auto;
			padding: 20px;
			background: #f9f9f9;
			border-radius: 8px;
			box-shadow: 0 2px 10px rgba(0,0,0,0.1);
		}
		
		.contact-form h3 {
			margin-top: 0;
			color: #333;
		}
		
		.contact-form .form-group {
			margin-bottom: 15px;
		}
		
		.contact-form label {
			display: block;
			margin-bottom: 5px;
			font-weight: bold;
			color: #555;
		}
		
		.contact-form input,
		.contact-form textarea {
			width: 100%;
			padding: 10px;
			border: 1px solid #ddd;
			border-radius: 4px;
			box-sizing: border-box;
			font-family: inherit;
		}
		
		.contact-form textarea {
			min-height: 120px;
			resize: vertical;
		}
		
		.contact-form button {
			background: #5cb85c;
			color: white;
			padding: 12px 30px;
			border: none;
			border-radius: 4px;
			cursor: pointer;
			font-size: 16px;
			width: 100%;
		}
		
		.contact-form button:hover {
			background: #4cae4c;
		}
		
		.media-container {
			margin: 20px 0;
			text-align: center;
		}
		
		.media-container video,
		.media-container audio {
			max-width: 100%;
			border-radius: 8px;
		}
		
		.media-container video {
			width: 100%;
			max-width: 800px;
		}
		
		.map-container {
			margin: 30px 0;
			width: 100%;
			height: 450px;
			border-radius: 8px;
			overflow: hidden;
			box-shadow: 0 2px 10px rgba(0,0,0,0.1);
		}
		
		.map-container iframe {
			width: 100%;
			height: 100%;
			border: 0;
		}
		
		@media (max-width: 768px) {
			.contact-form {
				padding: 15px;
				margin: 20px 10px;
			}
			
			.contact-form input,
			.contact-form textarea {
				font-size: 16px; 
			}
			
			.map-container {
				height: 300px;
			}
		}
		
		@media (max-width: 480px) {
			.contact-form {
				padding: 10px;
			}
			
			.contact-form button {
				padding: 10px 20px;
			}
		}
